.Square{
  display: flex;
  flex-direction: column;
  height: 3vh;
  width: 3vh;
  background-color: black;
  border: .3vh;
  border-style: solid;
}

.Row{
  display: flex;
  flex-direction: row;
}

.Gameboard{
  display: flex;
  flex-direction: column;
  padding: 5vh;
  justify-content: center;
}

.Upcoming{
  padding: 5vh;
  border-color: grey;
}

.Page{
  background: grey;
}

.StartButton{
  display: flex;
  justify-content: center;
  width: 30vh;
  padding: 1vh;
  border: 1vh;
  background: purple;
  font-size: 3vh;
}

.Title{
  text-align: center;
  padding: 1vh;
  font-family: Century Gothic, sans-serif;
}

.Layout{
  display: flex;
  flex-direction: row;
}

.Purple{
  background-color: purple;
}

.Blue{
  background-color: Blue;
}

.Red{
  background-color: Red;
}

.Teal{
  background-color: Teal;
}

.Green{
  background-color: green;
}

.Yellow{
  background-color: yellow;
}

.Orange{
  background-color: orange;
}

.Grey{
  background-color: grey;
  border-color: grey;
}
